

.dd, .idbox, .passwordbox, .dd1 , .s1, .s2  {
    text-align: center;
    
}
.input1,.input2, .button{
    border-radius: 10px;
}

.input1, .input2{
    height: 40px;
}

/*
.div1{
    margin: 50px 350px;
}
*/
    
.dd{
    font-weight: 300;
}

.button{
    background-color: blue;
    color: white;
}
.s2{
    color: blue;
}

.dd2{
    text-align: center;
}

.div1{
    border-radius: 5px ;
    box-shadow: 0px 5px 5px rgba(255, 0, 0, 0.3);
}